<footer>
  <!-- Start Footer -->
  <div class="footer">
  
    <div class="container">
        <div class="download">
            <h3>Grow your business fast <br>with Sark SaaS Landing.</h3>  
                <button name="Download" value="Download">Download Now</button>
        </div>
        <div class="links">
            <ul >
                <li class="active"> Company </li>
                <li><a href="#" >About</a> </li>
                <li><a href="#" >Works          </a> </li>
                <li><a href="#" >Features          </a> </li>
                <li><a href="#" >Career            </a> </li>
            </ul>    <ul>
                <li class="active"> Help</li>
                <li><a href="#" >Customer Support</a> </li>
                <li><a href="#" >Delivery Details</a> </li>
                <li><a href="#" >Terms & Conditions</a> </li>
                <li><a href="#" >Privacy Policy</a> </li>
            </ul>    <ul>
                <li class="active">Resources </li>
                <li><a href="#" >Resources</a> </li>
                <li><a href="#" >Development Tutorial</a> </li>
                <li><a href="#" >How to - Blog</a> </li>
                <li><a href="#" >Youtube Playlist</a> </li>
            </ul>    <ul>
                <li class="active"> Links </li>
                <li><a href="#" >Free eBooks</a> </li>
                <li><a href="#" >Development Tutorial</a> </li>
                <li><a href="#" >How to - Blog</a> </li>
                <li><a href="#" >Youtube Playlist</a> </li>
            </ul>
        </div>
       
      
        

      
    </div>

  
  </div>


 
<!-- End Footer -->


</footer>