

    <nav class="navbar navbar-expand-xl navbar-light ">
      <div class="container ">
        <a href="#stract" class="logo" id="stract"  >
          <img src="../assets\images\Black.png" alt="">
        </a>      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav  m-auto">
            <li class="nav-item">
              <a class="" aria-current="page" href="#demos">Demos</a>
            </li>
            <li class="nav-item">
              <a class="" aria-current="page" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="" aria-current="page" href="#blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="" aria-current="page" href="#pages">Pages</a>
            </li>
            <li class="nav-item">
              <a class="" aria-current="page" href="#contact">Contact</a>
            </li>
          </ul>
            <a  class=" asd" href="login.html">Start Free Trial</a>
        </div>
      </div>
    </nav>
