

<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container justify-content-between">
        <a href="zara.html" class="logo">
          <img src="../assets\images\Black.png" alt="">
        </a>      
        
        <div class="header-iqon">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         
          <span class="navbar-toggler-icon"></span>
    
          </button>
        </div>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav  mb-lg-0  justify-content-center  flex-grow-1">
            <li class="nav-item">
              <a class="" aria-current="page" href="demos.html">Demos</a>
            </li>
            <li class="nav-item">
              <a class="" aria-current="page" href="about.html">about</a>
            </li>
            <li class="nav-item">
              <a class="" aria-current="page" href="blog.html">blog</a>
            </li>
            <li class="nav-item">
              <a class="" aria-current="page" href="pages.html">pages</a>
            </li>
            <li class="nav-item">
              <a class="" aria-current="page" href="contact.html">contact</a>
            </li>
          </ul>

            <a  class=" asd" href="login.html">Start Free Trial</a>



  
        </div>

      </div>
    </nav>
    </header>