//////////////// color ////////
$primaryColor: #0085ab;
//$accentColor: ;
$grayColor: #575757;

$borderColor: #EEEEEE;
$bodyColor: #FFFFFF;
$textColor: #7a7a7a;

$bg-gray:#f5f5f5;

///////// fonts ///////////////
$primaryFont: Arial, sans-serif;

$fa-font-path: "../webfonts";

///// Media
$desktop: 1200px;
$laptop: 990px;
$tablet: 768px;
$mobile: 576px;