/node_modules
/dist/node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/storage/zip_files/
/bower_components
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
.sass-cache
yarn.lock
.idea/workspace.xml
.sass-cache
/dist/*