<div class="product-card">
    <a href="#" class="product-img-c d-block">
        <div class="product-img cover" style='background-image: url("")'></div>
    </a>
    <div class="product-body">
        <a href="">
            <h3 class="product-title"></h3>
        </a>
        <div class="pr-card-row">
            <div class="product-desc">
                <p class="product-text"></p>
            </div>
            <div class="price-con">
                <div class="price mb-3 flex-row"><span></span></div>
            </div>
        </div>
        <div class="cta">
            <a href="#" class="btn btn-primary mb-2 capitalize">order now</a>
            <a href="#" class="btn btn-outline capitalize">add to cart</a>
        </div>
    </div>
</div>