<form action="">

    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Write your name">
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="option">
            Option one
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="option">
            Option Two
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox">
            Checkbox
        </label>
    </div>

</form>