{% extends "layout.html" %}

{% set title = 'Welcome' %}

{% block content %}

<div class="landing ">

  <div class="container  ">
             <div class="row ">
              <div class="mb-3 col-xl-7 col-lg-7 col-md-7">

  <div class="modern">
    <h2>
      Modern POS that makes running your business easier
  </h2>
  <div class="d-flex justify-content-cente align-items-center">
    
  <i class="fa-solid fa-check"></i>
  <p>    Manage cost savings & payments method</p>
  </div>
  <div class="d-flex justify-content-cente align-items-center ">
    <i class="fa-solid fa-check"></i>
    <p>   Manage cost savings & payments method</p>
    
  </div>
  <div class="trial">
    <form action="">
      <input type="email" placeholder="Enter Your Email" />
      <input type="submit" value="Start Free Trial" />
    </form>
    <div class="log">
<p> Already have an account? <a href="$">Log In now</a> </p>

    </div>
  </div>
        
  </div>

 
</div>

  <div class="mb-3 col-xl-5 col-lg-5 col-md-5  position-relative ;
  ">

  <div class="pic">
    <div class="shap">
      <img src="../assets/images/shape (2).png" alt="">

      

              </div>
              <div class="squr1 position-absolute">
                <div class="d-flex">
                  <img src="../assets/images/Icon.svg" alt="">
                    <span class="nomber2">+3.50%</span>
                    <i class="fa-solid fa-arrow-up"></i>
                  </div>
     <div class=" d-flex flex-column">
      <span class="nomber">86,590</span>
      <span class="total">Total Customer</span>
              </div>
            </div>

            <div class="squr2 position-absolute ">
              <div class="d-flex">
                <img src="../assets/images/aaaaa.svg" alt="">
                <span class="nomber2">+48.50%</span>
                <i class="fa-solid fa-arrow-up"></i>
              </div>
   <div class=" d-flex flex-column">
    <span class="nomber">$36,845.00</span>
    <span class="total">Total Revenue</span>
  </div>
   </div>


        
    <img src="../assets/images/person.png" alt="">
  </div>

</div>

 </div>
</div>



</div>

 <div class="page">
  <div class="container">
    <div class="developed">
      <div class="updated">
        <img src="../assets/images/icon (11).svg" alt="">
        <p>  Developed with the highest care. Always updated. </p>
      </div>
      <div class="updated">
        <img src="../assets/images/icon (12).svg" alt="">
        <p> Get free goodies from all over the world after purchase </p>
      
      </div>
      <div class="updated">
        <img src="../assets/images/icon (13).svg" alt="">
        <p>  Save up to 10% of every purchase you made </p>
      
      
      </div>
          </div>
    <div class="data ">
      <div class="lysis">
      <div class="card1" >
      <img src="../assets/images/Graph.png" alt="">
          <div class="shap">
<img src="../assets/images/shape (1).png" alt="">            
                    </div>
       
        
        </div>
      
        <div class="card2" >
        
          <h4> Communicative and fast data processing</h4>
  <p> Importance of data processing includes better increased productivity
     and profits, target, right decisions, more accurate and reliable.  </p>
     <a href="#">  Make your first sale <i class="fa-solid fa-arrow-right"></i> </a>

        </div>
  
      </div>
      </div>

   

    <!-- <img src="../assets/images/Vector (1).svg" alt=""> -->




</div>
<div class="Payment">

      
  <div class="easiest  ">
  
  
  
  
  <div class="card1" >
  
      <h3> Payment is the easiest with many options  </h3>
      <p> Credit cards are easily the most secure and safe payment method to use when you shop online.  </p>
  
    <div class="Manage">
      <div class="  d-flex  align-items-center">
        <i class="fa-solid fa-check"></i>
        <p>    Accept any method of payment</p>
      </div>
      <div class="  d-flex r align-items-center ">
        <i class="fa-solid fa-check"></i>
        <p>   Apply discounts and issue refunds</p>
      </div>
    </div>
 <a href="#">  Make your first sale <i class="fa-solid fa-arrow-right"></i> </a>
    
    </div>
  
    <div class="card2" >
      <div class="shap">
<img src="../assets/images/shape.png" alt="">

      </div>
      <h4> Payment Method </h4>

      <div class="card0">
      <div class="bank d-flex">
        <img src="../assets/images/Icon (7).svg" alt="">
        <div class="sdd ">
          <div>
          <h5> Add Card  </h5>
          <p>Add a card of any bank  </p>
        </div>
        <label class="checkbox-container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        </div>
      </div>
      <div class="bank d-flex">
        <img src="../assets/images/Icon (7).svg" alt="">
        <div class="sdd    ">
          <div >
            <h5> Add Crypto Wallet  </h5>
            <p>Connect your crypto wallet  </p>
          </div>
      
          <label class="checkbox-container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
      </div>
    </div>
      <div class="bank d-flex">
      <img src="../assets/images/Icon (7).svg" alt="">
      <div class="sdd ">
        <div >

        <h5> Add Unipay Account  </h5>
      <p>Hold all payments via the app </p>
    </div>
    <label class="checkbox-container">
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>

  </div>
      <div class="visa">
        <i class="  fa-brands fa-cc-visa"></i> 
        <i class="fa-brands fa-cc-mastercard"></i>
                  <i class=" fa-brands fa-cc-visa">
          </i><i class="fa-brands fa-cc-visa"></i>   
          
          
        </div>
      </div>
    </div>

  </div>
  </div>
  <div class="container">

<div class="Resource-Management">
  <div class="Management ">
    <div class="box">
      <img src="../assets/images/Layer 1.svg" alt="">
      <h5 >  Resource Management</h5>
      <p >Resource management is the process of pre-planning, 
        scheduling, and allocating
         your resources to maximize efficiency.</p>
    </div> <div class="box">
      <img src="../assets/images/Layer 2.svg" alt="">
      <h5 >  Resource Management</h5>
      <p >Resource management is the process of pre-planning, 
        scheduling, and allocating
         your resources to maximize efficiency.</p>
    </div> <div class="box">
      <img src="../assets/images/Layer 3.svg" alt="">
      <h5 >  Resource Management</h5>
      <p >Resource management is the process of pre-planning, 
        scheduling, and allocating
         your resources to maximize efficiency.</p>
    </div> <div class="box">
      <img src="../assets/images/Layer 4.svg" alt="">
      <h5 >  Resource Management</h5>
      <p >Resource management is the process of pre-planning, 
        scheduling, and allocating
         your resources to maximize efficiency.</p>
    </div> <div class="box">
      <img src="../assets/images/Layer5.svg" alt="">
      <h5 >  Resource Management</h5>
      <p >Resource management is the process of pre-planning, 
        scheduling, and allocating
         your resources to maximize efficiency.</p>
    </div> <div class="box">
      <img src="../assets/images/Layer 6.svg" alt="">
      <h5 >  Resource Management</h5>
      <p >Resource management is the process of pre-planning, 
        scheduling, and allocating
         your resources to maximize efficiency.</p>
    </div>
  </div>

</div>
</div>

<div class="customers ">

  <div class="make">
    <h3> See what our customers are saying  </h3>
    <p> 2,157 people have said how good we are  </p>
  </div>
   

<div class="people ">




<div class="card1" >

<img src="../assets/images/BG (1).png" alt="">
    <p >“I can’t tell how easy it was to grow my small shop with it”</p>
    <h5>Jenny Wilson</h5>
<span> Founder, ExtendSales </span>
  </div>

  <div class="card1" >


    <img src="../assets/images/BG.png" alt="">
    <p >“I can’t tell how easy it was to grow my small shop with it”</p>
      <h5>Jenny Wilson</h5>
  <span> Founder, ExtendSales </span>
    </div>

</div>
</div>
<div class="decision ">
  <div class="make">
    <h3>Make the wise decision for your business  </h3>
    <p> Choose from our affordable 3 packages  </p>
  </div>
 
<div class="business ">
  <div class="card1" >

    <div class="Premium  d-flex flex-column">
      <span> Basic </span>
  
      <span> $99 </span>
    </div>

  
      <p >Best for medium business owners, startups who needes landing page for their business.</p>
      <a class="Started" href="#"> Get Started  </a>
      <ul>
    <li class="active"> What’s included:</li>
    <li > <a href="#"> 160+ UI Blocks</a> </li>
    <li > <a href="#"> Best for Developers, Freelancers</a> </li>
    
  </ul>
    </div>

<div class="card1" >
  <div class="Premium  d-flex flex-column">
    <span> Premium </span>

    <span> $199 </span>
  </div>


    <p >Best for medium business owners, startups who needes landing page for their business.</p>
<a class="Started" href="#"> Get Started  </a>
<ul>
  <li class="active"> What’s included:</li>
  <li > <a href="#"> 160+ UI Blocks</a> </li>
  <li > <a href="#"> Best for Developers, Freelancers</a> </li>
  <li > <a href="#">Made with Figma </a> </li>
  <li > <a href="#"> Premium Support</a> </li>
  <li > <a href="#">Future Updates </a> </li>
</ul>
  </div>

  <div class="card1" >
   

    <div class="Premium  d-flex flex-column">
      <span> Enterprise </span>
  
      <span>  $399 </span>
    </div>

  
      <p >Best for medium business owners, startups who needes landing page for their business.</p>
  
      <a class="Started" href="#"> Get Started  </a>
      <ul>
    <li class="active"> What’s included:</li>
    <li > <a href="#"> 160+ UI Blocks</a> </li>
    <li > <a href="#"> Best for Developers, Freelancers</a> </li>
    <li > <a href="#">Made with Figma </a> </li>
    <li > <a href="#"> Premium Support</a> </li>
    <li > <a href="#">Future Updates </a> </li>
  </ul>
    </div>
</div>
</div>

</div>


{% endblock content %}